version: '2'

services:

  traptor:
    build: .
    volumes:
      - .:/code
      - ./logs:/var/log/traptor
    env_file:
      - ./traptor.env
    depends_on:
      - redis
#      - kafka
#      - elasticsearch
#      - kopf
#      - logstash
#      - kibana
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=2
    restart: always

  redis:
    image: redis:2.8.17
    ports:
      - "6379:6379"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 192.168.99.100
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  elasticsearch:
    image: elasticsearch:5.0
    command: elasticsearch -E network.host=0.0.0.0 -E discovery.zen.minimum_master_nodes=1
    ports:
      - "9200:9200"

  kopf:
    image: lmenezes/elasticsearch-kopf
    ports:
      - 8080:80
    environment:
      - KOPF_SERVER_NAME=dockerhost
      - KOPF_ES_SERVERS=elasticsearch:9200
    depends_on:
      - elasticsearch

  logstash:
    image: logstash:2.4.0-1
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - ./logstash/traptor-logstash.conf:/etc/logstash/conf.d/logstash.conf
      - ./logstash/logs-template.json:/etc/logstash/templates/logs-template.json
      - ./logs:/var/log/traptor

  kibana:
    image: kibana:5.0
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch
