TRAPTOR_TYPE=track
TRAPTOR_ID=0
RULE_CHECK_INTERVAL=60
USE_SENTRY='false'
SENTRY_URL=FILL_IN_IF_USING_SENTRY
LOG_LEVEL=INFO
LOG_DIR=/var/log/traptor
LOG_FILE_NAME=traptor.log
KAFKA_ENABLED='true'
KAFKA_HOSTS=kafka:9092
KAFKA_TOPIC=traptor.testing
REDIS_PUBSUB_CHANNEL=traptor-test
PUBSUB_CHECK_INTERVAL=.01
CONSUMER_KEY=ADD_YOUR_CONSUMER_KEY
CONSUMER_SECRET=ADD_YOUR_CONSUMER_SECRET
ACCESS_TOKEN=ADD_YOUR_ACCESS_TOKEN
ACCESS_TOKEN_SECRET=ADD_YOUR_ACCESS_TOKEN_SECRET
STATS_COLLECTION_WINDOW=900
LIMIT_COUNT_COLLECTION_WINDOW=900
ENABLE_STATS_COLLECTION=true